@page
@model WaterLogger.NathanJenner.Pages.RunningDistance.CreateModel
@{
}

<h4>Add New Running Entry</h4>

<hr />
<div class="row">
    <div class="col-md-4">
        <form method="post">
            <div class="form-group">
                <label asp-for="RunningModel.Date" class="control-label"></label>
                <input type="date" asp-for="RunningModel.Date" class="form-control" />
                <span asp-validation-for="RunningModel.Date" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="RunningModel.Distance" class="control-label"></label>
                <input asp-for="RunningModel.Distance" class="form-control" />
                <span asp-validation-for="RunningModel.Distance" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-page="/RunningDistance/RunningIndex">Back to List</a>
</div>